*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
elements/** linguist-generated=true
.mcreator/** linguist-generated=true
*.mcreator linguist-generated=true